---
services:
  {{ chain.name }}-{{ chain.network }}:
    container_name: {{ chain.name }}-{{ chain.network }}
    image: {{ chain.image }}
    user: "root"
    volumes:
      - {{ dirs.chain_home }}:/data
      - {{ dirs.snapshot }}:/snapshots
      - {{ dirs.backup }}:/backups
      - {{ dirs.chain_home }}/tmp:/tmp/
    entrypoint: "{{ chain_binary }}"
    command: "start --home /data"
    environment:
      - MONIKER={{ node_moniker }}
    ports:
      - "0.0.0.0:{{ network.priv_validator_listen_port }}:{{ network.priv_validator_listen_port }}"  # priv_validator_laddr
      - "0.0.0.0:{{ network.rpc_laddr_port }}:{{ network.rpc_laddr_port }}"  # rpc_laddr
    restart: unless-stopped 
