services:
{% for i in range(1, horcrux.total_cosigners + 1) %}
  {{ chain.name }}-{{ chain.network }}-cosigner-{{ i }}:
    image: {{ horcrux.image }}
    entrypoint: horcrux
    command: start --home /root/.horcrux
    volumes:
      - ./cosigner-{{ i }}:/root/.horcrux:rw
    user: "root"
    restart: unless-stopped
    ports:
      - "0.0.0.0:{{ horcrux.public_base_port + i - 1 }}:{{ horcrux.p2p_port }}"
{% endfor %}