services:
{% for i in range(1, horcrux.total_cosigners + 1) %}
  {{ chain.name }}-{{ chain.network }}-cosigner-{{ i }}:
    image: ghcr.io/strangelove-ventures/horcrux:v3.3.1
    entrypoint: horcrux
    command: start --home /root/.horcrux
    volumes:
      - ./cosigner-{{ i }}:/root/.horcrux:rw
    user: "root"
    restart: unless-stopped
    ports:
      - "{{ horcrux.base_port + i - 1 }}:{{ horcrux.base_port }}"
    networks:
      - horcrux
{% endfor %}

networks:
  horcrux:
    name: horcrux 