[Unit]
Description=Horcrux Signer For {{ chain.name | capitalize }}
After=network.target

[Service]
Type=simple
User={{ node_user }}
Group={{ node_group }}
WorkingDirectory={{ horcrux.state_dir }}
ExecStart=/usr/local/bin/horcrux start --home {{ horcrux.state_dir }}
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target 